[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
dotenv = "*"
os = "*"
psycopg2 = "*"
requests = "*"
python-steam-api = "*"

[dev-packages]

[requires]
python_version = "3.12"
